<!-- Params 
title: string for title of dropdown
listed: array of items to list
content: content of HTML to put
includedHTL: includes an HTML file for dropdown
-->

<details>
	{% if include.title %}
  	<summary>{{ include.title }}</summary>
  {% endif %}

	{% if include.listed %}
	  <ul>
	 	{% for item in include.listed %}
		  <li>{{ item }}</li>
		{% endfor %}
	  <ul>
  {% endif %}

  {% if include.content %}
		{{ include.content }}
  {% endif %}

  {% if include.includedHTML %}
		{% include {{ include.includedHTML }} %}
  {% endif %}
</details>

