<h3 id="leetcode-contest-ranking">Leetcode Contest Ranking</h3>

<p><code class="language-plaintext highlighter-rouge">94</code> Finished Contests</p>

<p><code class="language-plaintext highlighter-rouge">2106</code> Rating</p>

<p><code class="language-plaintext highlighter-rouge">1267 / 112968</code> Global Ranking</p>

<p><code class="language-plaintext highlighter-rouge">23rd</code> in Canada</p>

<p><a href="https://leetcode.com/jonathantsang/">Profile</a></p>

<p><img src="/cp/leetcode.png"></p>
