
<section class="success" id="aboutme" >
  <div class="container">
     <div class="row">
       <div class=" text-center">
         <p><strong>Past: </strong><a href="/my-story">uwaterloo</a></p>
         <!-- I like <a href="/cp">competitive programming</a>, running, <a href="/albums_images">listening to albums</a>, and watching the NBA.</p> -->
         <p><strong>Present:</strong> I'm in NYC.</p>
         <p><strong>Future:</strong> Uncertainty</p>
         <!-- Photo -->
         <img src="/assets/images/iw/watchmen/c2.png" />
       </div>
     </div>
  </div>
</section>
<!-- About Section
<section class="success" id="aboutme" >
   <div class="container">
     <div class="row">
         <div class=" text-center">
             <h2>Work Experience</h2>
             <hr class="star-light">
         </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="text-center">
           {% include jobsfp.html %}
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="text-center">
           {% include cp_info.html %}
         </div>
       </div>
     </div>
       <div class="row">
           <div class="text-center">
               <h2>Projects</h2>
               <hr class="star-light">
           </div>
       </div>
       <div class="row">
           <div class=" text-center">
               <iframe src="https://store.steampowered.com/widget/689090/" frameborder="0" width="646" height="190"></iframe>
               <p>This is a game I published to the Steam Store</p>
           </div>
       </div>
       <div class="container">
         <div class="row">
           {% include projectsfp.html %}
         </div>
       </div>
</section>
-->

<!-- Contact Section -->
<!-- <section id="contact" >
   <div class="container">
       <div class="row">
           <div class=" text-center">
               <h2>Contact</h2>
               <hr class="star-primary">
           </div>
       </div>
       <div class="row">
           <div class=" text-center">
     <p>If you want to contact me, send me an email at:
               <br><a href=""> Email:</p></a>
           </div>
       </div>
   </div>
</section> -->
