<img src="/about-me/pictures/ttd.png" width="40%" height="40%">
<p>Winter 2020 - Software Engineer Intern at The Trade Desk</p>

<img src="/about-me/pictures/linkedin.jpg" width="40%" height="40%">
<p>Fall 2019 - Software Engineer Intern at LinkedIn</p>

<img src="/about-me/pictures/zenefits.png" width="40%" height="40%">
<p>Summer 2019 - Software Engineer Intern at Zenefits</p>

<img src="/about-me/pictures/okta.png" width="40%" height="40%">
<p>Summer 2018 - Software Engineer Intern at Okta</p>
