
<ul>
  <li><a href="#fall-2014-1a">Fall 2014 (1A)</a></li>
  <li><a href="#winter-2015-1b">Winter 2015 (1B)</a></li>
  <li><a href="#spring-2015-break">Spring 2015 (Break)</a></li>
  <li><a href="#fall-2015-2a">Fall 2015 (2A)</a></li>
  <li><a href="#winter-2016-work-term-1">Winter 2016 (Work Term #1 at Intrafinity)</a></li>
  <li><a href="#spring-2016-2b">Spring 2016 (2B)</a></li>
  <li><a href="#fall-2016-2b">Fall 2016 (2B)</a></li>
  <li><a href="#winter-2017-work-term-2">Winter 2017 (Work Term #2 at SurfEasy)</a></li>
  <li><a href="#spring-2017">Spring 2017</a></li>
  <li><a href="#fall-2017">Fall 2017</a></li>
  <li><a href="#winter-2018">Winter 2018</a></li>
  <li><a href="#spring-2018-work-term-3">Spring 2018 (Work Term #3 at Okta)</a></li>
  <li><a href="#fall-2018">Fall 2018</a></li>
  <li><a href="#winter-2019">Winter 2019</a></li>
  <li><a href="#spring-2019-work-term-4">Spring 2019 (Work Term #4 at Zenefits)</a></li>
  <li><a href="#fall-2019-work-term-5">Fall 2019 (Work Term #5 at LinkedIn)</a></li>
  <li><a href="#winter-2020-work-term-6">Winter 2020 (Work Term #6 at TheTradeDesk)</a></li>
  <li><a href="#graduation">Graduation</a></li>
  <li><a href="#afterthoughts">Afterthoughts</a></li>
</ul>