<div class="container-fluid no-padding overflow-hidden">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img src="/assets/lazy/lazy.png" data-echo="{{ include.img1 }}" width="100%">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img src="/assets/lazy/lazy.png" data-echo="{{ include.img2 }}" width="100%">
    </div>
  </div>
</div>

{% if include.caption %}
  <figcaption>{{ include.caption }}</figcaption>
{% endif %}
{% if include.caption1 %}
  <figcaption>1. {{ include.caption1 }}</figcaption>
{% endif %}

{% if include.caption2 %}
  <figcaption>1. {{ include.caption2 }}</figcaption>
{% endif %}
