<div class="container">
  <div class="row">
    <div class="col-md-4">
          <h2>Investera
            <a href= "https://github.com/jonathantsang/MhacksX2017">
              <img src="/pictures/gcat.png" width="13%" height="13%"></a>
              <a href="https://devpost.com/software/investera">
                <img src="/projects/webapp/pictures/devpost.svg" width="25%" height="25%">
              </a>
            </h2>
              <img src="/projects/webapp/pictures/investera2.png" width="100%" height="100%">
            <p>Made with:
              <button type = "button" class = "btn btn-primary">Javascript</button>
              <button type = "button" class = "btn btn-primary">NodeJS</button>
              <button type = "button" class = "btn btn-primary">MixMax API</button>
              <button type = "button" class = "btn btn-primary">Wolfram Alpha API</button>
              <button type = "button" class = "btn btn-primary">Coinbase API</button>
              <button type = "button" class = "btn btn-primary">Blackrock API</button>
            </p>
            <p>
              Mixmax slash command for stocks embedded in emails using Wolfram API.
              Supports stocks, stock comparisons, date ranges, and plotting of graphs in email.
              Also uses Coinbase compatibility and shows Blackrock data.
              Won Best Use of Wolfram API and Best Use of the Mixmax API at MHacks X.
            </p>
    </div>
    <div class="col-md-4">
      <h2>Microtransaction Simulator
        <a href= "https://github.com/jonathantsang/Micro-Simulator">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a>
          <a href="http://store.steampowered.com/app/689090/Microtransaction_Simulator/">
            <img src="/projects/unity/pictures/steam_logo.png" width="13%" height="13%">
          </a>
          </h2>
          <img src="/projects/unity/pictures/capsule_lg.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">Unity</button>
          <button type = "button" class = "btn btn-primary">C#</button>
          <button type = "button" class = "btn btn-primary">Steamworks.NET</button>
          <button type = "button" class = "btn btn-primary">Steam Developer APIs</button>
          </p>
          <p>Probability based game built on the saturated microtransaction market. Published as a free to play game on the Steam Store.</p>
    </div>
    <div class="col-md-4">
      <h2>Basic Identity Token
        <a href= "https://github.com/kaustavha/ethwaterloo-bit">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a>
      </h2>
          <img src="/projects/webapp/pictures/bit2.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">NodeJS</button>
          <button type = "button" class = "btn btn-primary">React</button>
          <button type = "button" class = "btn btn-primary">Solidity</button>
          </p>
          <p>A login with Facebook button for web3.0 dapps. Won Storj.io 2nd place prize. Built at ETHWaterloo.</p>
    </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Interest.Invest
        <a href= "https://github.com/jonathantsang/StocksForNoobs">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a>
          <a href="https://interestinvest.herokuapp.com/">
            <img src="/projects/webapp/pictures/heroku.png" width="13%" height="13%">
          </a>
      </h2>
          <img src="/projects/webapp/pictures/interestinvest.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">NodeJS</button>
          <button type = "button" class = "btn btn-primary">BlackRock Aladdin API</button>
          <button type = "button" class = "btn btn-primary">Google Finance API</button>
          </p>
          <p>Web app that finds stocks related to the user's input and gives stock recommendations. Built at PennApps XVI.</p>
    </div>
    <div class="col-md-4">
      <h2>Open World AR
        <a href= "https://github.com/jonathantsang/openWorldAR">
          <img src="/pictures/gcat.png" width="13%" height="13%"></a></h2>
          <img src="/projects/unity/pictures/owa.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">Unity</button>
          <button type = "button" class = "btn btn-primary">C#</button>
          </p>
          <p>Android AR game that has puzzle solving elements in an open world. Won best .tech domain at RedBull Adrenalan.</p>
    </div>
    <div class="col-md-4">
      <h2>What's on the Menu
        <a href= "https://github.com/icewing1996/hackprinceton2018">
          <img src="/pictures/gcat.png" width="10%" height="10%"></a></h2>
          <img src="/projects/app/pictures/wotm.png" width="100%" height="100%">
          <p>Made with:
          <button type = "button" class = "btn btn-primary">Java</button>
          <button type = "button" class = "btn btn-primary">Android Studio</button>
          <button type = "button" class = "btn btn-primary">Computer Vision</button>
          </p>
          <p>A computer vision Android app that recognized text on a menu and showed photos of that dish. Developed the app in Java and Android Studio. Won most sustainable at HackPrinceton.</p>
    </div>
  </div>
</div>
