{% include image.html src="/blog/food/2/logos/boba-up.jpeg" size="60%" %}

<h3>{{ include.title }}</h3>

<a href="{{include.yelp-link}}">Yelp</a>, <a href="{{include.menu-link}}">Menu</a>

{% include image.html src="{{include.image-link}}" size="{{include.image-size}}" %}

**My order:** Thai iced tea base and coffee jelly for $4.35.

This place is located in the university district and is a "self-serve" boba shop. The concept is interesting, you pay for a cup and fill it with whatever tea and toppings you want. It definitely is a social experience and gives a lot of custom options for bbt.

{% include image.html src="/blog/food/2/boba/boba-up2.jpeg" size="60%" %}

I think the bubble tea was just ok. I went pre-pandemic and I don't know how they do this sort of bbt buffet style serving now.

2/5